{% extends "base.html" %}
{% load socialaccount %}

{% block content %}
  <h1 class="mb-10 text-xl font-bold text-green-800">Helllloooooo!</h1>

  <div data-controller="testing"></div>

  <div
    data-controller="animated-number"
    data-animated-number-start-value="0"
    data-animated-number-end-value="200"
    data-animated-number-duration-value="3000"
  >
    0
  </div>

  {% if user.is_authenticated %}
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <a href="{% url 'account_logout' %}">Logout</a>
  {% else %}
    <a class="p-2 text-blue-500 rounded-md border" href="{% url 'account_login' %}">Login</a>
    <a class="p-2 text-blue-500 rounded-md border" href="{% url 'account_signup' %}">Signup</a>
    <a class="p-2 text-blue-500 rounded-md border" href="{% provider_login_url 'github' %}">Sign Up with GitHub</a>
  {% endif %}

{% endblock content %}
